.reader {
  display: flex;
  flex-direction: column;
  height: 80%;
}
.readconf {
  display: flex;
  flex-direction: column;
  margin: 0.0em;
  flex: 0;
}
.readconf .row {
  margin: 0.2em;
}
.readtext {
  flex: 1;
  height: 100%;
  margin-top: 2em;
}
.textarea {
  height: 100%;
}